<h1>Calls made</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th colspan="2" style="text-align: center;">Input</th>
            <th style="border-left-style: solid; text-align: center;" colspan="3">Output</th>
        </tr>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th style="border-left-style: solid;">Days Left</th>
            <th>Days Left Incl. Approved</th>
            <th>Flextime Taken</th>
        </tr>
    </thead>
    <tbody style="border-top-style: solid; border-top-color: black;">
        {{#each calls}}
        <tr>
            <td>{{input.firstName}}</td>
            <td>{{input.lastName}}</td>
            <td style="border-left-style: solid;">{{output.daysLeft}}</td>
            <td>{{output.daysLeftInclApproved}}</td>
            <td>{{output.flextimeTaken}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
